html,body {
  height: 100%;
}

#sdl-lineage {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.edge {
  mix-blend-mode: multiply;
}
.dummyNode {
  mix-blend-mode: multiply;
}

.edgeRunning {
  stroke-width: 10;
  stroke-dasharray: '10,10';
}
